*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.snm
*.vrb
*.xdy
*.tdo
*.run.xml
*.bcf
*.pdf
*.fdb_latexmk
*.synctex
*.fls
*.fdb_latexmk
*.png
*.jpg
*.jpeg
*.gif
*.xlsx
*.pyc
*.txt
__pycache__/
